.rating{
  color: red;
  font-size: 1.5rem;
  font-weight: bolder;
}
.description{
  font-size: 1rem;
}

.box{
  border: 1px;
  margin: auto;
  border-color: darkred;
  background-color: aliceblue;
  width: 70%;
  



}
.goButton{
  background-color: orangered;
  border-radius: 10%;
  color: white;
  padding: 20px;
}
.promo{
  border: 2px;
  border-radius: 10%;
  border-color: lightgray;
  border-style: dashed;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    

}
h2{
  padding-top: 15px
}
.logo-light{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 300;
}
.icon{
  color:rgb(0,26,110);
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
  }
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 4, 78);
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: rgb(20, 4, 78);
  color: white;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: white;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}
body, html {
    height: 100%;
    background-color: white;
}

/* The hero image */


/* Place text in the middle of the image */




 

  .splashLarge{
    font-size: 6rem;
    text-align: center;
    color: white;
    font-family: 'Lato';
  }

  .servicesContainer{
   
   
    background-color: rgb(0,26,110);
    color: white;
   
 

  }
.colSpread{
    width: 400px;
}